<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Document</title>
</head>

<body>
    <h1>

    </h1>
    <form action="/flights/<%= reqParamsId %>/tickets" method="POST">
        <label>Seat (A1 - F99)</label><input type="text" name="seat" required pattern="[A-F][1-9]\d?">
        <label>Price</label><input type="text" name="price">
        <button>Submit</button>
    </form>

</body>

</html>