<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Add a New Flight</title>
</head>

<body>
    <form action="/flights" method="POST">
        <table>
            <thead>
                <tr>
                    <th>Airline</th>
                    <th>Airport</th>
                    <th>Flight No</th>
                    <th>Departure</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="text" name="airline"></td>
                    <td><select name="airport">
                            <option value="AUS">AUS</option>
                            <option value="DFW">DFW</option>
                            <option value="DEN" selected>DEN</option>
                            <option value="LAX">LAX</option>
                            <option value="SAN">SAN</option>
                        </select></td>
                    <td><input type="text" name="flightNo"></td>
                    <td><input type="datetime-local" name="departs"></td>
                </tr>
            </tbody>
        </table>
        <br>
        <button>Add Flight</button>
    </form>
</body>

</html>